@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo {
  color: #dbd9d9;
  font-family: monospace;
  font-size: 1.5em;
}

.header {
  width: 100%;
  background: #161617;
  height: 3.4rem;
  position: fixed;
  z-index: 100;
}

.btn-menu {
  opacity: 1;
  cursor: pointer;
}

.header .nav {
  width: 100%;
  overflow: hidden;
  background: #161617;
  height: 0;
  transition: all 0.5s ease;
  z-index: 999;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  position: relative;
  padding: 0px 0px 0px 40px;
  font-size: 1.1em;
}

.header .nav.activo {
  height: 97vh;
}

.cabecera {
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 25;
  font-family: sans-serif;
  height: 3.1em;
  padding: 9px;
  width: 65%;
}

.btn-cerrar {
  position: absolute;
  top: 9px;
  left: 12px;
  font-size: 1.9rem;
  background-color: transparent;
  border: none;
  color: #fff;
  display: none;
}

.block {
  transition: all 0.5 ease;
  display: block;
}

.header .btn-menu {
  font-size: 1.9rem;
  background-color: transparent;
  border: none;
  color: #fff;
}
.header .btn-menu h1 {
  font-size: 1em;
}

.ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.li {
  margin: 45px 0px 0px 0px;
}

.a {
  text-decoration: none;
  color: #fff;
  font-size: 2.6em;
  font-family: monospace;
  font-weight: 800;
}

.contenedor-redes-sociales {
  width: 100%;
  margin: 5em 0;
  display: flex;
  justify-content: center;
}
.contenedor-redes-sociales i {
  margin: 12px;
  font-size: 1.8em;
  color: #fff;
}

.foto {
  width: 100%;
}

.none {
  transition: all 0.5s ease;
  opacity: 0;
}

.carrousel {
  overflow: hidden;
  transition: 0.5s all ease;
  position: absolute;
}

.up {
  transform: translateY(-100vh);
}

.btn-up {
  border: none;
  padding: 4px;
  font-size: 1.3em;
  font-family: monospace;
  width: 5em;
  height: 2.7em;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.25);
}

.carrousel .grande {
  width: 300%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s all ease-in-out;
  overflow: hidden;
  z-index: 220;
  position: relative;
}

.carrousel .img {
  width: 33.3333333333%;
  height: 100vh;
  object-fit: cover;
}

.desplazar {
  transform: translateX(-33.3%);
}

.rotado {
  position: absolute;
  left: -1.2em;
  font-size: 1.7em;
  top: 0.5em;
  rotate: -90deg;
  color: #4e4d4d;
}

.cuarto {
  color: #666363;
}

.bike {
  color: #e7e3e3;
}

.prueba-titulo {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 1;
  transition: 0.6s all ease;
}

.visibilidad {
  opacity: 1;
}

.contenedor-titulo-portada {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 100vh;
  z-index: 223;
}

.titulo-portada {
  font-family: monospace;
  background: rgba(255, 255, 255, 0.45);
  border-radius: 25px;
  width: 8em;
  height: 6em;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  transition: 1s all ease;
  z-index: 230;
}

.rotado-portada {
  position: absolute;
  transform: translateY(-5em);
  transform: rotate(-90deg);
  font-size: 1.7em;
  color: rgb(48, 47, 47);
}

.cuarto-portada {
  transform: translateX(1.3em);
  color: rgb(90, 89, 89);
}

.bike-portada {
  transform: translateX(1.3em);
  color: rgb(238, 233, 233);
}

.catalogoo {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  background: linear-gradient(to bottom, #ffffff, #000000, #000000);
  margin-top: 0;
}

.contenedor-botones {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  margin-top: 3.3em;
}

.boton-mtb {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 98%;
  height: 6em;
  font-size: 2em;
  background-image: url(https://venzoargentina.com.ar/wp-content/uploads/2020/09/mtb.jpg?id=1699);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: 0.3s all ease;
  border-radius: 7px;
  margin: 3px;
  background-image: url(https://venzoargentina.com.ar/wp-content/uploads/2020/09/mtb.jpg?id=1699);
}
.boton-mtb:hover {
  transform: scale(1.02);
}

.boton-niños {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 98%;
  height: 6em;
  font-size: 2em;
  background-image: url(https://venzoargentina.com.ar/wp-content/uploads/2020/09/mtb.jpg?id=1699);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: 0.3s all ease;
  border-radius: 7px;
  margin: 3px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRln9YZ1gfyNijLy2qWAYvkLif8qJ1OxIbfw&usqp=CAU);
}
.boton-niños:hover {
  transform: scale(1.02);
}

.boton-accesorios {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 98%;
  height: 6em;
  font-size: 2em;
  background-image: url(https://venzoargentina.com.ar/wp-content/uploads/2020/09/mtb.jpg?id=1699);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: 0.3s all ease;
  border-radius: 7px;
  margin: 3px;
  background-image: url(https://images.pexels.com/photos/5465176/pexels-photo-5465176.jpeg?auto=compress&cs=tinysrgb&w=1600);
}
.boton-accesorios:hover {
  transform: scale(1.02);
}

.boton-texto-catalogo {
  position: absolute;
  border: none;
  width: 5em;
  height: 3em;
  font-size: 0.9em;
  background: transparent;
  z-index: 0;
  color: #fff;
}

.cortina-negra {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
}

.seccion-dos-catalogo {
  background: linear-gradient(to bottom, #000000, #000000, #000000);
  padding: 0 0 2em 0;
}

.contenedor-segunda-seccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: monospace;
}
.contenedor-segunda-seccion h2 {
  font-size: 3em;
  font-family: monospace;
  margin-top: -1em;
}
.contenedor-segunda-seccion img {
  width: 100%;
}
.contenedor-segunda-seccion button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.7em;
}
.contenedor-segunda-seccion button:hover {
  background: rgba(255, 255, 255, 0.27);
}

.display-none {
  display: none;
}

.footer {
  height: 200px;
  width: 100%;
  background: linear-gradient(to bottom, #ffffff, #000000);
}

/*# sourceMappingURL=main.css.map */
