* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  overflow: hidden;
}

.titulo {
  color: #dbd9d9;
  font-family: monospace;
  font-size: 1.5em;
}

.header {
  width: 100%;
  background: #161617;
  height: 3.4rem;
}

.header .nav {
  width: 100%;
  overflow: hidden;
  background: #161617;
  height: 0;
  transition: all 0.5s ease;
  z-index: 999;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  position: relative;
  padding: 0px 0px 0px 40px;
  font-size: 1.1em;
}

.header .nav.activo {
  height: 97vh;
}

.cabecera {
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 25;
  font-family: sans-serif;
  height: 3.1em;
  padding: 9px;
  width: 65%;
}

.btn-cerrar {
  position: absolute;
  top: 9px;
  left: 12px;
  font-size: 1.9rem;
  background-color: transparent;
  border: none;
  color: #fff;
  display: none;
}

.block {
  transition: all 0.5 ease;
  display: block;
}

.header .btn-menu {
  font-size: 1.9rem;
  background-color: transparent;
  border: none;
  color: #fff;
}
.header .btn-menu h1 {
  font-size: 1em;
}

.ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.li {
  margin: 45px 0px 0px 0px;
}

.a {
  text-decoration: none;
  color: #fff;
  font-size: 2.6em;
  font-family: monospace;
  font-weight: 800;
}

.contenedor-redes-sociales {
  width: 100%;
  margin: 5em 0;
  display: flex;
  justify-content: center;
}
.contenedor-redes-sociales i {
  margin: 12px;
  font-size: 1.8em;
  color: #fff;
}

.foto {
  width: 100%;
}

.none {
  transition: all 0.5s ease;
  opacity: 0;
}

.menu-visible {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.664);
  height: 15.9em;
  position: relative;
  z-index: 25;
  font-family: monospace;
  font-size: 1.3em;
  margin: 0.28em 0;
  opacity: 1;
}

.menu-visible-ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  color: #fff;
  list-style: none;
}
.menu-visible-ul a {
  text-decoration: none;
  color: #fff;
}

.carrousel {
  overflow: hidden;
}

.carrousel .grande {
  width: 300%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s all ease-in-out;
  overflow: hidden;
  object-fit: contain;
}

.carrousel .img {
  width: 33.3333333333%;
  min-height: 10vh;
}

.desplazar {
  transform: translateX(-33.3%);
}

.cortina-negra {
  width: 100%;
  height: 16.7em;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 12;
  margin-top: 0.3em;
}

.catalogo {
  background-color: #000;
}

.contenedor-catalogo img {
  width: 100%;
}

.prueba-titulo {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.rotado {
  position: absolute;
  left: -1.2em;
  font-size: 1.7em;
  top: 0.5em;
  rotate: -90deg;
  color: #4e4d4d;
}

.cuarto {
  color: #666363;
}

.bike {
  color: #e7e3e3;
}

/*# sourceMappingURL=main.css.map */
