* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  overflow: hidden;
}

.titulo {
  color: #dbd9d9;
  font-family: monospace;
  font-size: 1.5em;
}

.header {
  width: 100%;
  background: #161617;
  height: 3.4rem;
}

.btn-menu {
  opacity: 0;
}

.header .nav {
  width: 100%;
  overflow: hidden;
  background: #161617;
  height: 0;
  transition: all 0.5s ease;
  z-index: 999;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  position: relative;
  padding: 0px 0px 0px 40px;
  font-size: 1.1em;
}

.header .nav.activo {
  height: 97vh;
}

.cabecera {
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 25;
  font-family: sans-serif;
  height: 3.1em;
  padding: 9px;
  width: 65%;
}

.btn-cerrar {
  position: absolute;
  top: 9px;
  left: 12px;
  font-size: 1.9rem;
  background-color: transparent;
  border: none;
  color: #fff;
  display: none;
}

.block {
  transition: all 0.5 ease;
  display: block;
}

.header .btn-menu {
  font-size: 1.9rem;
  background-color: transparent;
  border: none;
  color: #fff;
}
.header .btn-menu h1 {
  font-size: 1em;
}

.ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.li {
  margin: 45px 0px 0px 0px;
}

.a {
  text-decoration: none;
  color: #fff;
  font-size: 2.6em;
  font-family: monospace;
  font-weight: 800;
}

.contenedor-redes-sociales {
  width: 100%;
  margin: 5em 0;
  display: flex;
  justify-content: center;
}
.contenedor-redes-sociales i {
  margin: 12px;
  font-size: 1.8em;
  color: #fff;
}

.foto {
  width: 100%;
}

.none {
  transition: all 0.5s ease;
  opacity: 0;
}

.carrousel {
  overflow: hidden;
  transition: 0.5s all ease;
  position: absolute;
}

.up {
  transform: translateY(-100vh);
}

.btn-up {
  border: none;
  padding: 4px;
  font-size: 1.3em;
  font-family: monospace;
  width: 5em;
  height: 2.7em;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.25);
}

.carrousel .grande {
  width: 300%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s all ease-in-out;
  overflow: hidden;
  position: relative;
}

.carrousel .img {
  width: 33.3333333333%;
  height: 100vh;
  object-fit: cover;
}

.desplazar {
  transform: translateX(-33.3%);
}

.rotado {
  position: absolute;
  left: -1.2em;
  font-size: 1.7em;
  top: 0.5em;
  rotate: -90deg;
  color: #4e4d4d;
}

.cuarto {
  color: #666363;
}

.bike {
  color: #e7e3e3;
}

.prueba-titulo {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0;
  transition: 0.6s all ease;
}

.visibilidad {
  opacity: 1;
}

.contenedor-titulo-portada {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 100vh;
  z-index: 222;
}

.titulo-portada {
  font-family: monospace;
  z-index: 222;
  background: rgba(255, 255, 255, 0.45);
  border-radius: 25px;
  width: 8em;
  height: 6em;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  transition: 1s all ease;
}

.rotado-portada {
  position: absolute;
  transform: translateY(-5em);
  transform: rotate(-90deg);
  font-size: 1.7em;
  color: rgb(48, 47, 47);
}

.cuarto-portada {
  transform: translateX(1.3em);
  color: rgb(90, 89, 89);
}

.bike-portada {
  transform: translateX(1.3em);
  color: rgb(238, 233, 233);
}

.contenedor-botones {
  display: flex;
  width: 100%;
  height: 300px;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.contenedor-botones h3 {
  text-align: center;
}

.btn-rojo {
  width: 12em;
  height: 5em;
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 55px;
  color: #000;
  padding: 9px;
  font-size: 1.5em;
  font-size: 1.5em;
  animation-name: botonera;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes botonera {
  0% {
    background: rgb(255, 0, 0);
  }
  25% {
    background: rgb(218, 35, 35);
  }
  50% {
    background: rgb(139, 80, 80);
  }
  75% {
    background: rgb(48, 22, 22);
  }
  100% {
    background: rgb(2, 1, 1);
    color: #fff;
  }
}

/*# sourceMappingURL=main.css.map */
